html{
  background: url(img/background.jpg) no-repeat;
  font-family: Comic Sans MS, Comic Sans, cursive;
  background-position: center center;
  -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;

}

.preloader {
  background: url(img/background.jpg) no-repeat;
  background-position: center center;
  -moz-background-size: cover; /* Firefox 3.6+ */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
  
}

.preloader div {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}

@keyframes arrows {
  0%,
  100% {
    color: rgb(255, 255, 255);
    transform: translateY(0);
  }
  50% {
    color: #3AB493;
    transform: translateY(20px);
  }
}

span {
  --delay: 0s;
  animation: arrows 1s var(--delay) infinite ease-in;
}

::-webkit-scrollbar {
  width: 0;
}



.csgo{
    transition: 500ms;
    background: url(img/csgo.jpg) no-repeat;
    background-size: cover;
    cursor: url(cursor/cursor.cur), default;   
}

.csgo:hover {
  transform: scale(1.2);
}


.apex {
    transition: 500ms;
    background: url(img/apexlegends.jpg) no-repeat;
    background-size: cover;
    cursor: url(cursor/cursor2.cur), default;
    
}
.apex:hover {
  transform: scale(1.2);
}

.apexcur {
    cursor: url(cursor/cursor2.cur), default;
}


.rl {
    transition: 500ms;
    background: url(img/rocketleague.jpg) no-repeat;
    background-size: cover;
    cursor: url(cursor/cursor3.cur), default;
}
.rl:hover {
  transform: scale(1.2);
}


.rlcur{
    cursor: url(cursor/cursor3.cur), default;

}


.knopki button {
    
    box-shadow: 12px 10px 5px 5px black;
    font-size: 38px;
    text-shadow: 4px 4px 6px rgb(0, 0, 0);
    width: 300px;
    height: 250px;
    border-radius: 12px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
}

.knopki button :visited {
    border-radius: 12px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
}

.knopki a {
    border-radius: 12px;
    margin: 0px 20px 0px 20px;
    
    text-decoration: none;
}

.csgocur p {
    text-align: center;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.zagolovok { 
  display: flex;
  justify-content: center;
}


.zagolovok button {
  box-shadow: 12px 10px 5px 5px black;
  border-radius: 25px;
  border: 3px solid rgb(89, 28, 146);
  background-color: rgb(89, 28, 146);
  text-shadow: 4px 4px 5px black;
  color: white;
  font-size: 38px;
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
  
}


.best_moment {
  width: 100%;
  
}


.knopki {
  transition-delay: 500ms;
  margin-top: 120px;
  display: flex;
  justify-content: center;
}


a {
  margin: 0px 10px 0px 10px;
}
footer {
  position: absolute;
  margin: 30px auto;
	clear:both;
  width: 99%;
  display: flex;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: first baseline;
}

.dvideo {
  
  margin: 20px 100px 10px 100px;
  display: flex;
  justify-content: space-between;

}

p {
 
  margin-top: 10px;
  text-align: center;
  font-size: 38px;
  color: white;
  text-shadow: 4px 4px 6px black;
}

video {
  box-shadow: 12px 10px 5px 5px black;
  padding: 0;
  border-radius: 30px;
  border: 3px solid white;
  transition-duration: 500ms;
}

video:hover {
  transform: scale(1.3);
}

.dvideo img 
{
  box-shadow: 12px 10px 5px 5px black;
  padding: 0;
  border-radius: 30px;
  border: 3px solid white;
  transition-duration: 500ms;
  width: 460px;
  height: 260px;
}

.dvideo img:hover {
  transform: scale(1.3);
}


@media screen and (min-width: 2560px) {
   
  body{
      margin: 0;
      padding: 0;
      background-image: url(images/background-photo-mobile-devices.jpg);
    }
    .dvideo {
     
      margin: 10px 180px 10px 120px;
    }
    .dvideo video{
      margin: 0px 30px 0px 30px;
      width: 720px;
      height: 405px;
    }

    .dvideo img {
      width: 720px;
      height: 405px;
    }

    .knopki{
      margin-top: 30px;
    }

    p {
      margin-bottom: 10px;
    }
}

@media screen and (max-width: 1980px){
  p{
    margin-top: 25px;
  }

  .knopki {
    margin-top: 120px;
  }
  .dvideo {
    margin: 40px 100px 10px 100px;
  }

}

@media screen and (max-width: 1440px) {
  body{
    background-image: url(images/background-photo-mobile-devices.jpg);
  }
  .dvideo {
    margin: 20px 10px 10px 10px;
  }

  .knopki {
    margin-top: 90px;
  }

  footer {
    display: flex;
    justify-content: first baseline;
  }
}

@media screen and (max-width: 1024px) {

    .zagolovok{
      margin-left: 20px;
    }
    .dvideo {
      display: flex;
      flex-direction: column;
      margin: 10px 0 30px 90px;
      
    }
    .dvideo video{
      width: 805px;
      height: 455px;
      margin-top: 30px;
    }

    .dvideo img{
      width: 805px;
      height: 455px;
      margin-top: 30px;
    }
    footer{
      position: static;
      
      }
}

@media screen and (max-width:1084px) {
  .dvideo {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    
    
  }

  
  
}

@media screen and (max-width: 912px) {

  .dvideo video{
    margin: 0;
  padding: 0;
  }

  .dvideo img{

    margin: 0;
  padding: 0;

  }
}

@media screen and (max-width: 872px){
  .dvideo {
    display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  }
}

@media screen and (max-width: 768px) {

  .zagolovok{
    padding-right: 30px;
  }
  .knopki{
    margin-top: 30px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 250px;
  }

  .knopki a{
    width: 250px;
    height: 200px;
    margin-left: -10px;
  }

  

  .csgo:hover{transform: scale(1);}
  .apex:hover{transform: scale(1);}
  .rl:hover{transform: scale(1);}
  .best_moment{
    display: none;
  }
  
  

  footer{
    margin-top: 30px;
  }
  .knopki button {
    
    width: 250px;
    height: 200px;
  }
}

@media screen and (max-width: 540px) {
  .knopki {
    padding-left: 140px;
  }
}

@media screen and (max-width: 425px) {
  .knopki {
    padding-left: 100px;
    margin-top: 10px;
  }
  footer {
    margin-top: 20px;
  }
}

@media screen and (max-width: 375px) {
  .knopki{
    padding-left: 60px;
  }
}

@media screen and (max-width: 320px) {
  .zagolovok {
    margin-left: 32px;
  }
  .knopki {
    padding-left: 32px;
    
  }
  
  
}
